[Unit]
Description=Service for STM32F030 GameKit Programming
After=multi-user.target

[Service]
User=root
Group=dialout
WorkingDirectory=/home/pi/ProductionProgrammer-GameKit/1.0/
ExecStart=/home/pi/ProductionProgrammer-GameKit/1.0/prodprog.sh
Restart=always
RestartSec=5
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin


[Install]
WantedBy=multi-user.target
